*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
body{
   
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(FB_IMG_17167311568459848.jpg);
        background-size: cover;
        font-size: 27px;
        
        
}
.container{
    padding: 10px 10%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::After{
    content: '';
    width: 0;
    height: 3px;
    background: #ae00ff;
    position: absolute;
    left: 0;
bottom: -6px;
transition: 1s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
    color: antiquewhite;

}

 .header-text h1{
    font-size: 40px;
    margin-top: 20px;
}
 span{
    color: aqua;
}
/*about*/
#about{
    padding: 800px;
}
.aboutm h6{
    color: aqua;

}
.aboutm h5{
    color:#ae00ff;

}

.aboutm h1{
    color:aquamarine;

}
