*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
   
}
body{
   
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(backgound.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
      background-color: #011116;
        font-size: 15px;
       
        
        
}
/*about*/
.container{
    
    text-align: center;
    

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 40px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 6px;
}
nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-style: bolder;
    
}
nav ul li a::After{
    content: '';
    width: 0;
    height: 3px;
    background:aqua;
    position: absolute;
    left: 0;
bottom: -6px;
transition: 1s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text p  {
    margin-top: 8%;
    margin-left: 25px;
    font-size: 15px;
    color: antiquewhite;
   
    

}

 .header-text h1{
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    color: whitesmoke;
    padding-top: 6px;

 

}
 span{
    color: aqua;
}


.aboutm h6{
    color: aqua;

}
.aboutm h5{
    color:whitesmoke;

}

.aboutm h1{
    color:aquamarine;
    padding-top: 10px;

}
header{
    background-color:#2f2e33;
    border-radius: 4px;
    
}
/*services*/
.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

h1 {
    margin: 20px 0;
    color: #5120ac;;
}

.services {
    display: flex;
  
    flex-wrap: wrap;
    margin: 20px 20px;
}

.service {
    
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 20px 20px;
    margin: 15px 15px;
    flex: 1;
    min-width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
}
.service  :hover{
    color: #ff5e00;
    transition: 0.95s;
}

.service h2 {
    color: aqua;
}

.service p {
    color: #fdfdfd;
}

footer {
    text-align: center;
    padding: 10px 0;
   
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: x-small;
}
/*contacts*/


.contact-info {
  
   
    padding: 10px;
    background-color: gray(77, 74, 69);
    border-radius: 8px;
    font-size: 20px;
    
  
   
   
  
}

h1 {
    text-align: center;
    color: whitesmoke;
    padding-top: 10%;
}

.contact-info p {
    padding-top: 4%;
    font-size: 18px;
    margin: 10px 60px;
    color: aqua;
    
    font-size: 12px;
    text-align: center;
}

.contact-info span {
    font-weight: bold;
    color: #dbdbf1;
    
}

.social-links {
    text-align: center;
    margin-top: 20px;
    padding-top: 15%;
}

.social-links a {
    text-decoration: none;
    color: #1fa5ce;
    font-size: 35px;
    margin: 0 10px;
    transition: ease-in-out 0.9000s;
    vertical-align: bottom;
    border: blue;
    border-radius: 8px;
    box-sizing: border-box;
    
}

.social-links a:hover {
    color: brown;
}

.social-links i {
    vertical-align: middle;
}




html{
    scroll-behavior: smooth;
    
}

